body{
	width: 100%;
	background-color: rgb(10,14,38);
	font-family: 'Nunito', sans-serif;
	color:rgb(10,14,38);
	font-weight: bold;
	text-align: center;
}
#backgroundSize{
	background-size: 500% 100%;
}
.container{
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.item1 {
	background-image: url(../images/ags.png);
	background-size: cover;
	padding: 5px;
	max-height: 250px;
}

.header img {
	max-width: 400px;
	max-height: 400px;
}

#mainHeading {
	position: relative;
}

.clock{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
  	font-size: 1em;
  	letter-spacing: 7px;
  	position: center;  
  	margin-top: 50px;
}

#date{
	font-size: 1em;
	margin-top: 40px;
}
#date:hover{
	color: #c458d6 ;
}




/*---------------------------------------------MQ-----------------------------------------------*/


/* Vanaf mobiel */
@media  screen and (min-width : 320px){

 	.container{
 		display: flex;
		margin: 20px;
 	}	
}


/* Vanaf Tablets */

@media  screen and (min-width : 480px){
 	.container{
 		display: flex;
		margin: 20px;
 	}
 	.clock{
  	font-size: 5em;
	}
	#date{
	font-size: 1.5em;
	margin-top: 100px;
}


/* Vanaf Medium Devices, Desktops/ tablet liggend */

@media screen and (min-width : 768px){
	body{
 		 	}

	.container{
 		display: flex;
		margin: 20px;
	}
	.clock{
  	font-size: 6em;
	}

}


/* Vanaf Large Devices, Wide Screens */
@media screen and (min-width : 1024px){

	.container{
 		display: flex;
		margin: 40px;	
	}	
	.clock{
  	font-size: 7em;
}

